svg.tooth {
  cursor: pointer;
  fill: white;
}

svg.tooth .caries {
  fill: red;
}

svg.tooth .endodontics {
  fill: none;
  stroke: green;
  stroke-width: 2;
}

svg.tooth .active {
  fill: gray;
}

svg.tooth polygon {
  stroke: black;
  stroke-width: 0.5;
}

polygon:hover {
  fill: lightgray;
}

rect:hover {
  fill: lightgray;
}

.tooth-wrapper {
  margin: 0 2px;
  position: relative;
}

.flex-container-justify {
  display: flex;
  justify-content: space-around;
}

.flex-container-right {
  display: flex;
  justify-content: flex-end;
}

.flex-container-left {
  display: flex;
  justify-content: flex-start;
}

.tooth {
  font-size: 6pt;
  font-weight:normal;
}
