/* Paciente.css */
.custom-row {
    height: 55px; /* Ajusta la altura según tus necesidades */
    font-size: 18px; /* Ajusta el tamaño de la fuente según tus necesidades */
    margin: 0px;
    padding: 0%;
}
